header {color: pink;}
	h1   {color: lightblue;}
	ol {color: purple;}

	a:link, a:visited { 
		text-decoration: none; 
		border: 1px solid lightblue;
		background-color: pink;
		color: black; 
		display: block;
		width: 150px;
		margin-bottom: 2px;
		text-align: center; }

	a:hover, a:active {
		background-color: purple;
		color: white; }

	ol li:nth-child(3):hover, ol li:nth-child(3):active {
		color: white;
		background-color: lightblue; }
